<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Password</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <h2>Create Password</h2>

        <p>Welcome, <span th:text="${username}"></span></p>
        <p>Create Your New Password</p>
        <form th:action="@{/api/doctor/create-password/{username}(username=${username})}" method="post">

            <input type="password" name="password" id="password1" placeholder="Enter Password"  title="Password must be at least 8 characters long and contain at least one letter, one number, and one special character." required><br>
            <input type="password" name="password2" id="password2" placeholder="Confirm Password"  title="Password must be at least 8 characters long and contain at least one letter, one number, and one special character." required><br>

            <label for="showPassword">
                <input type="checkbox" id="showPassword" onclick="togglePasswordVisibility()"> Show Password
            </label><br>

            <button type="submit" class="btn">CREATE</button>
        </form>
    </div>

    <div id="customAlert" class="alert-box">
        <p id="alertMessage">Message goes here</p>
        <button onclick="closeAlert()">OK</button>
    </div>

    <script th:src="@{/js/script.js}"></script>
</body>
</html>
